.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    width: 472px;
    height: 338px;
    overflow-y: auto;
}

.container img {
    width: 96px;
    height: 97px;
}

.container p {
    font-size: 20px;
    color: rgba(40, 40, 40, 1);
    margin: 70px 0 15px 0;
}

button {
    width: 160px;
    height: 41px;
    border-radius: 10px;
    border: none;
    margin: 8px;
    cursor: pointer;
}

.delete {
    background-color: rgba(227, 18, 21, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    cursor: pointer;
}

.cancel {
    background-color: #DFDFDF;
    color: rgba(40, 40, 40, 0.8);
    font-size: 16px;
    cursor: pointer;
}
